@media (max-width: 480px) {
    .sidenav{
        width:0%;
        left:10px
    }
}
@media (min-width:480px) and (max-width: 650px) {
    .sidenav{
        left:20px

    }
}
@media (min-width: 650px) {
    .sidenav{
        left:40px

    }
    .line-container{
        height:100px
    }
    

    .sidenav-line-r{
        border-right: .75px solid white;
    }
    .sidenav-line-l{
        border-left: .75px solid white;
    }
}
