.App {
  text-align: center;
}
.app-content-container{
  padding-bottom:30px
}

@media (min-width: 480px) {
  .app-content-main{
    margin-left: 10%;
    padding-top:40px;
    margin-right: 10%;
    width:80%;


  }
  .app-content-main{
    padding-bottom:30px
  }
  .app-content-container{
    height:100vh
  }

}
@media (max-width: 480px) {
  .app-content-main{
    margin-left: 54px;
    padding-top:20px;
    margin-right: 54px;



  }

}
