.App {
  text-align: center;
}



@media (min-width: 480px) {
  .app-content-main{
    margin-left: 10%;
    padding-top:40px;
    margin-right: 10%;
    width:80%

  }

}
@media (max-width: 480px) {
  .app-content-main{
    margin-left: 54px;
    padding-top:20px;
    margin-right: 54px;

  }

}
